<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} Juzto Audiencias | Inicio {% endblock %}
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Audiencias Virtuales</a>
      <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a </div>
      <!-- Botón para ir a la página de inicio de sesión -->

      <!-- Botón para ir a la página de registro -->
  </nav>
  {% block content %}
  {% endblock %}
  <!-- Footer -->
  <footer class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2023 Audiencias Virtuales by Juzto.co. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>