{% extends 'dashboard/base.html' %}
{% block title %}
Juzto Audiencias | Lista de Bugs Reportados
{% endblock %}
{% block content %}
<div class="container my-5">

  <h1>Mis reportes de Bugs</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Descripción</th>
        <th scope="col">Imagen</th>
        <th scope="col">Fecha de Creación</th>
        <th scope="col">Fecha de Actualización</th>
        <th scope="col">Resuelto?</th>
      </tr>
    </thead>
    <tbody>
      {% for reporte in reportes %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ reporte.titulo }}</td>
        <td>{{ reporte.descripcion }}</td>
        <td><img src="{{ reporte.media.url }}" class="img-thumbnail" width="100" alt="{{ reporte.titulo }}"></td>
        <td>{{ reporte.creado_en }}</td>
        <td>{{ reporte.actualizado_en }}</td>
        <td>{{ reporte.resuelto }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="text-center">No hay reportes de bugs todavía.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
